In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

ModuleNotFoundError: No module named 'seaborn'

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
520,tt0277371,16000000,66468332,Not Another Teen Movie,Chyler Leigh|Chris Evans|Jaime Pressly|Eric Ch...,Joel Gallen,They served you Breakfast. They gave you Pie. ...,"On a bet, a gridiron hero at John Hughes High ...",89,Comedy,Original Film|Columbia Pictures Corporation|Ne...,12/7/2001,5.3,2001
934,tt0280665,35000000,16838910,Femme Fatale,Rebecca Romijn|Antonio Banderas|Peter Coyote|R...,Brian De Palma,Nothing is more desirable or more deadly than ...,"A woman tries to straighten out her life, even...",114,Thriller|Crime|Romance,Epsilon Motion Pictures|Quinta Communications,11/6/2002,6.1,2002
562,tt0227445,68000000,71069884,The Score,Robert De Niro|Edward Norton|Marlon Brando|Ang...,Frank Oz,There are no partners in crime,An aging thief hopes to retire and live off hi...,124,Action|Crime|Thriller,Paramount Pictures|Mandalay Pictures|Horseshoe...,7/13/2001,6.6,2001
21,tt1798684,30000000,91709827,Southpaw,Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...,Antoine Fuqua,Believe in Hope.,"Billy ""The Great"" Hope, the reigning junior mi...",123,Action|Drama,Escape Artists|Riche-Ludwig Productions,6/15/2015,7.3,2015
617,tt1010048,15000000,377910544,Slumdog Millionaire,Dev Patel|Freida Pinto|Anil Kapoor|Mia Drake I...,Danny Boyle|Loveleen Tandan,What does it take to find a lost love? A. Mone...,Jamal Malik is an impoverished Indian teen who...,120,Drama|Romance,Celador Films|Warner Bros.|Film4,5/12/2008,7.5,2008

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [17]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
data.append(data['profit'])

#data['genres'] = data['genres'].apply(lambda x:x.split('|'))

#data['director'] = data['director'].apply(lambda x:x.split('|'))

data.sample(5)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
544,tt0250687,48000000,85498534,Rat Race,Cuba Gooding Jr.|Seth Green|Whoopi Goldberg|Br...,Jerry Zucker,563 miles. 9 people. $2 million. 1001 problems!,"In an ensemble film about easy money, greed, m...",112,Adventure|Comedy,Paramount Pictures|Fireworks Pictures|Alphavil...,7/30/2001,5.9,2001,37498534
1486,tt0445946,25000000,5549200,The Contract,Morgan Freeman|John Cusack|Alice Krige|Megan D...,Bruce Beresford,Every Killer Meets His Equal.,Attempting to recover from a recent family tra...,96,Drama|Action|Thriller|Crime,Nu Image Entertainment|3L Filmverleih,4/5/2006,5.4,2006,-19450800
830,tt1578275,70000000,67112664,The Dilemma,Kevin James|Vince Vaughn|Winona Ryder|Jennifer...,Ron Howard,Two best friends. Nothing could come between t...,Longtime friends Ronny and Nick are partners i...,111,Comedy|Drama,Imagine Entertainment|Universal Pictures|Spygl...,1/13/2011,5.2,2011,-2887336
1604,tt0356150,25000000,20796847,EuroTrip,Scott Mechlowicz|Jacob Pitts|Michelle Trachten...,Jeff Schaffer,No actual Europeans were harmed in the making ...,When Scott learns that his longtime cyber-budd...,93,Comedy,DreamWorks SKG|The Montecito Picture Company|B...,2/20/2004,6.4,2004,-4203153
1521,tt0482546,30000000,35078241,Miss Potter,Ewan McGregor|RenÃ©e Zellweger|Emily Watson|Ba...,Chris Noonan,The life of Beatrix Potter is the most enchant...,"The story of Beatrix Potter, the author of the...",92,Drama|Family|Romance,BBC Films,12/3/2006,6.2,2006,5078241

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [20]:
# тут пишем ваш код для решения данного вопроса:
data[(data.budget == data.budget.max())] # находим максимальное значение столбца бюджет

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [21]:
data[(data.runtime == data.runtime.max())] # находим максимальное значение столбца продолжительность

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [25]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [24]:
data[(data.runtime == data.runtime.min())] # находим минимальное значение столбца продолжительность

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = '2. 110'

In [27]:
data.runtime.mean().round() # находим среднее значение столбца продолжительность

110.0

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = '1. 107'

In [28]:
data.runtime.median().round() # находим медианное значение столбца продолжительность

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [ ]:
answers['6'] = '5. Avatar (tt0499549)'

In [31]:
data[(data.profit == data.profit.max())] # находим максимальное значение столбца прибыль

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [9]:
data[(data.profit == data.profit.min())] # находим минимальное значение столбца прибыль

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1. 1478'

In [36]:
profit_yes = data[(data.profit > 0)] # делаем отбор фильмов у которых доходы превышают расходы
len(profit_yes) # считаем количество фильмов

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [50]:
data[data.revenue == data[data.release_year == 2008].revenue.max()] # находим максимальные кассовые сборы в 2008 году

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [8]:
data[(data.release_year >= 2012) & (data.release_year <= 2014) & (data.profit == data.profit.min())]
# фильтруем период 2012 - 2014 и находим минимум прибыли (максимум убытков)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [ ]:
answers['11'] = '3. Drama'

In [31]:
data = pd.read_csv('movie_bd_v5.csv')
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts() # разделяем значения в ячейках и считаем количество

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = '1. Drama'

In [23]:
data = pd.read_csv('movie_bd_v5.csv')
data['genres'] = data['genres'].apply(lambda x:x.split('|')) # разделяем жанры
data['profit'] = data['revenue'] - data['budget'] # задаем расчет прибыли
data_explode_genres = data.explode('genres') # разделяем жанры по отдельным строкам
data_profit = data_explode_genres[data_explode_genres.profit > 0] # находим прибыльные
group_genres = data_profit['genres'].value_counts() # считаем количество
display(group_genres)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answers['13'] = '5. Peter Jackson'

In [24]:
data['director'] = data['director'].apply(lambda x:x.split('|')) # разделяем режиссеров
data_director_new = data.explode('director') # разделяем режиссеров по отдельным строкам
grouped_director = data_director_new.groupby(['director'])['revenue'].sum().sort_values(ascending=False) # группируем режиссеров и суммируем сборы
display(grouped_director)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = '3. Robert Rodriguez'

In [17]:
data = pd.read_csv('movie_bd_v5.csv')
only_action = data[data.genres.str.contains('Action')].copy() # делаем отбор по 'Action'
only_action['director'] = only_action['director'].str.split('|') # разделяем режиссеров
only_action = only_action.explode('director') # разделяем режиссеров по строкам
only_action.director.value_counts() # считаем

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Lexi Alexander        1
Brenda Chapman        1
Anthony Russo         1
Trey Parker           1
Neil Burger           1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = '3. Chris Hemsworth'

In [12]:
data = pd.read_csv('movie_bd_v5.csv')
only_2012 = data[(data.release_year == 2012)].copy() # находим фильмы 2012 года
only_2012['cast'] = only_2012['cast'].str.split('|') # разделяем актеров
only_2012 = only_2012.explode('cast') # разбиваем список актеров на отдельные строки
only_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).head() #считаем сколько сборов

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = '3. Matt Damon'

In [37]:
import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
result = pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]
# отбираем фильмы с бюджетов выше среднего, разделяем актеров и считаем
print(result)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = '2. Action'

In [28]:
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x:x.split('|')) # разделяем актеров
data_new = data.explode('cast') # разделяем актеров на отлельные строки
data_new = data_new[data_new.cast == 'Nicolas Cage'] # белаем отбор 'Nicolas Cage'
data_new['genres'] = data_new['genres'].apply(lambda x:x.split('|')) # разделяем жанры
data_new_genres = data_new.explode('genres') # разделяем жанры на отлельные строки
data_1 = data_new_genres.genres.value_counts() # считаем количество
display(data_1)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [63]:
data = pd.read_csv('movie_bd_v5.csv')
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|')) # разделяем компании
data_new = data.explode('production_companies') # разделяем компании на отлельные строки
data_new['profit'] = data_new['revenue'] - data_new['budget'] # задаем расчет прибыли
data_new2 = data_new[(data_new.production_companies == "Paramount Pictures")] # делаем отбор "Paramount Pictures"
data_new3 = data_new2[(data_new2.profit == data_new2.profit.min())] # ищем минимальное значение
data_new3

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = '5. 2015'

In [65]:
data = pd.read_csv('movie_bd_v5.csv')
grouped_df = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).head() # группируем по году и суммируем сборы
display(grouped_df)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = '1. 2014'

In [71]:
data = pd.read_csv('movie_bd_v5.csv')
data20 = data[data['production_companies'].str.contains('Warner Bros')].copy() # находим 'Warner Bros'
data20['profit'] = data20['revenue'] - data20['budget'] # указываем расчет прибыли
grouped_df = data20.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head() # суммируем прибыль по годам
display(grouped_df)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] = '4. Сентябрь'

In [6]:
data = pd.read_csv('movie_bd_v5.csv')
data_month = data.copy()
data_month['release_date'] = data_month.release_date.str.split('/') # разделяем дату на составляющие
data_month['month'] = data_month['release_date'].apply(lambda x: x[0]) # выбираем месяцы
data_month.month.value_counts() # считаем по месяцам

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = '2. 450'

In [36]:
data = pd.read_csv('movie_bd_v5.csv')
data['month'] = data.release_date.apply(lambda x:x[0]) # выбираем месяцы из даты
len(data.loc[data['month'].isin(['6','7','8'])]) # считаем количество за летние месяцы

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers['23'] = '5. Peter Jackson'

In [9]:
data = pd.read_csv('movie_bd_v5.csv')
data_month = data.copy()
data_month['release_date'] = data_month.release_date.str.split('/') # разделяем даты
data_month['month'] = data_month['release_date'].apply(lambda x: x[0]) # выбираем месяцы из даты
data_month['director'] = data_month.director.str.split('/') # разделяем режисеров
data_2 = data_month.explode('director') # разделяем режисеров на отдельные строки
data_2[data_2.month.isin(['12','1','2'])].director.value_counts().head() # считаем по зимним месяцам

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Nancy Meyers         4
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['24'] = '5. Four By Two Productions'

In [14]:
data = pd.read_csv('movie_bd_v5.csv')
data['production_companies'] = data['production_companies'].apply(lambda x: x.split(sep = '|')) # разделяем компании
data= data.explode('production_companies') # разделяем компании на отдельные строки
data['lenght'] = data['original_title'].apply(lambda x: len(x)) # считаем количество символов в названии
prod_comp = data.groupby(['production_companies'])['lenght'].mean().sort_values(ascending=False) # группируем по компаниям среднюю длинну названия
display(prod_comp)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: lenght, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = '3. Midnight Picture Show'

In [4]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|')) # разделяем компании
data['overview_len'] = data['overview'].apply(lambda x: x.split()).apply(len) # считаем количество слов
data = data.explode('production_companies').groupby('production_companies').overview_len.mean() # разделяем компании по отдельным строкам и группируем по компаниям среднее количество слов
data[data == data.max()] # выбираем максимальное

production_companies
Midnight Picture Show    175.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
border = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= border].original_title

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [11]:
import collections
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x:x.split('|')) # разделяем актеров
from itertools import combinations
from collections import Counter
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s, 2))) # комбинируем пары
data = data.explode('pairs') # разделяем парыт по разным строкам
collections.Counter(data['pairs']).most_common(1) # считаем пары

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)